{% load i18n %}
{% load static %}
<html>
  <head>
    <title>Blog Ericsson</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url "main" %}">{% trans "View Blog" %}</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url "post_create" %}">{% trans "Write a Post" %}</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
            {% else %}
              <li><a href="{% url "login" %}">{% trans "Login" %}</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      {% block mainblock %}{% endblock %}

    </div><!-- /.container -->

    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>
